
.wrapper {
  width: 420px;
  background: transparent;
  background-color: #090909;
  border: 2px solid rgba(255,255,255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(30px);
  color: #2c2828;
  border-radius: 10px;
  padding: 30px 40px;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fdimodashoes.ie%2F&psig=AOvVaw1Ir1c9i5iMsOIBBHTcqUft&ust=1709013483052000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNjE7r6pyIQDFQAAAAAdAAAAABAm');
  background-size: cover;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
  color: #fff; /* Added text color */
}

.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgb(99, 38, 38);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff; /* Changed text color */
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fcfcfc;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #141212;
  font-weight: 700;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0px 15px;
}

.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
} 

.register-link p a:hover {
  text-decoration: underline;
}

.container-login{
  
  align-items: center;
  height: 50px;
}
